.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  transition: opacity .3s;

  &:hover {
    opacity: 0.7;
  }
}

.logo-img {
  max-width: 55px;
  height: auto;
  margin-right: 5px;
}

.logo-text {
  color: inherit !important;
  text-align: center;
}