.order {
  padding-bottom: 30px;
}

.item-cell {
  display: flex;
  align-items: center;
}

.decrement-btn {
  margin-right: 7px;
}

.item-img {
  max-width: 100px;
  margin-right: 7px;
  display: block;
}

.button-wrap {
  text-align: right;
  padding: 10px 0;
}
