.wish-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

//.item-cel {
//  display: flex;
//  align-items: center;
//}
//
//.item-img {
//  max-width: 100px;
//  margin-right: 7px;
//  display: block;
//}
//
//.actions {
//  display: flex;
//  align-items: center;
//  justify-content: flex-end;
//  gap: 7px;
//}
