.wish-list-item {
  box-sizing: border-box;
  padding: 15px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #eee;
  transition: box-shadow .3s;

  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }
}

.wish-list-img {
  display: block;
  max-width: 100%;
  height: 150px;
  margin: 0 auto 10px;
}

.wish-list-name {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

.wish-list-price {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.wish-list-item-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}