@import 'src/theme/colors';

.header {
  padding: 5px 0;
  color: $white;
}

.toolbar {
  padding-left: 10px;
  justify-content: space-between;
}

.actions {
  display: flex;
}

.logo-link {
  text-decoration: none;
  transition: opacity .3s;

  &:hover {
    opacity: 0.7;
  }
}

.nav-link {
  color: $white;
}